<div class="sidebar-mini">
<div class="wrapper ">
  <div class="sidebar" data-color="primary" data-background-color="black" data-image="assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo" >
      <a href="http://www.99bridges.com" class="simple-text logo-mini" >
        <img style="width: 50px;height: 50px;left:12px;position: absolute" src="../../../assets/img/ec.png" alt="">
      </a>
      <a href="http://www.99bridges.com" class="simple-text logo-normal" style="padding-left: 25px;">
        <img style="width: 128px;height: 48px;padding-top: 5px" src="../../../assets/img/ectext.png" alt=""/>
        <!--<img src="assets/img/ec-clt-small.png" alt="">-->
      </a>
    </div>
    <div class="sidebar-wrapper">

      <ul class="nav" id="ulNavSideBar" >

        <li class="nav-item" *ngFor="let eachItem of menuItems">
            <a class="nav-link" routerLink="{{eachItem.routerLink}}">
              <i class="{{eachItem.class}}" aria-hidden="true"></i>
              <p> {{eachItem.name}} </p>
            </a>

        </li>

        <li class="nav-item" style="border-top: 1px">

        </li>
      </ul>

      <!--p style="position: absolute; bottom: 0; width:100%" align="center">Powered by 99Bridges</p-->
      <span style="text-align: center;">
          <img src="../../../assets/img/Logo_99Bridges_Red_White.png" style="width: 48px;height: 48px; position: absolute; bottom: 30px; margin-left: 100px; filter: drop-shadow(0 0 0.75rem white);" align="right"/>
          </span>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " >
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
              <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
              <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
            </button>
          </div>

          <!-- <img src="assets/img/banner-1.png" style="
 background-repeat-x: repeat;
 width: 100%;
 height: 177px;
 top: 60px;
 position: absolute;" /> -->

          <!--<a class="navbar-brand" href="#" id="pageLabelLink"></a>-->

        </div>
        <button class="navbar-toggler" id="minibarBtn" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">

          <ul class="navbar-nav">
            <!-- Commented Alerts for Now
             <li class="nav-item dropdown">
               <a class="nav-link" href="http://99b.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="material-icons">notifications</i>
                 <span class="notification">3</span>
                 <p class="d-lg-none d-md-block">
                   Some Actions
                 </p>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="#">4 Refill request submitted</a>
                 <a class="dropdown-item" href="#">2 Refill(s) completed</a>
                 <a class="dropdown-item" href="#">1/12/20 Detergent truck in your area</a>
               </div>
             </li>
            -->
            <li class="nav-item dropdown">
              <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">
                  Account
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="logout()">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content" id="mainContainerDiv" style = "margin-top: 35px">
      <div class="row" style="height: 150px;background-image: url(../../../assets/img/banner-1.png);">
        <p></p>
      </div>
      <div class="content">
        <div class="container-fluid" >

        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="#">
                99 Bridges
              </a>
            </li>
            <li>
              <a href="#">
                About Us
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>
          <a href="" target="_blank">99 Bridges</a>.
        </div>
      </div>
    </footer>
  </div>
</div>
</div>

