<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="page-categories">
          <ul class="nav nav-pills nav-pills-brand nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#list" role="tablist">
                <i class="material-icons">list</i> List
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#add" role="tablist">
                <i class="material-icons">add</i> Add
              </a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#edit" role="tablist">
                <i class="material-icons">edit</i> Edit
              </a>
            </li>-->


          </ul>
          <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane" id="add">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Add Edge </h4>
                  <p class="card-category">

                  </p>
                </div>
                <div class="card-body">
                  <form (ngSubmit)="onSubmit()" [formGroup]="addForm" action="/" class="form-horizontal" id="addEdgeForm"
                        method="post">
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Edge ID</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="edgeId" id="edgeId" type="text">
                          <span class="bmd-help">Edge ID</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Description</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="description" id="description" type="text">
                          <span class="bmd-help">Description</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Manufacturer</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="manufacturer" id="manufacturer" type="text">
                          <span class="bmd-help">Manufacturer</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <label class="col-sm-2 col-form-label">Model</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="model" id="model" type="text">
                          <span class="bmd-help">Model</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <label class="col-sm-2 col-form-label">Serial Number</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="serialNumber" id="serialNumber" type="text">
                          <span class="bmd-help">serial Number</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <label class="col-sm-2 col-form-label">IP Address</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="ipAddress" id="ipAddress" type="text">
                          <span class="bmd-help">IP Address</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <label class="col-sm-2 col-form-label">Location ID</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="locationId" id="locationId" type="text">
                          <span class="bmd-help">Location ID</span>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <label class="col-sm-2 col-form-label">Status</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input class="form-control" formControlName="status" id="status" type="text">
                          <span class="bmd-help">Status</span>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-fill btn-primary ml-auto mr-auto" type="submit">Submit
                      <div class="ripple-container"></div>
                    </button>


                  </form>
                </div>
              </div>
            </div>

            <div class="tab-pane active" id="list">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title ">Peoples</h4>
                  <p class="card-category">All registered peoples</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">

                    <table class="table table-hover">
                      <thead class=" text-info">
                      <th *ngFor="let eachHeader of peopleHeaders">
                        {{eachHeader}}
                      </th>

                      </thead>
                      <tbody>
                      <tr *ngFor="let edge of edges" class="d-table-row">
                        <td>
                          {{edge.edgeId}}
                        </td>
                        <td>
                          {{edge.description}}
                        </td>
                        <td>
                          {{edge.manufacturer}}
                        </td>
                        <td>
                          {{edge.model}}
                        </td>
                        <td>
                          {{edge.serialNumber}}
                        </td>
                        <td>
                          {{edge.ipAddress}}
                        </td>
                        <td>
                          {{edge.locationId}}
                        </td>
                        <td>
                          {{edge.status}}
                        </td>
                        <td>
                          <a (click)="openDialog(edge)">
                                    <span class="material-icons">
                                      edit
                                      </span>
                          </a>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
