<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#list" data-toggle="tab">
                      <i class="material-icons">list</i> List
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#addUserForm" data-toggle="tab">
                      <i class="material-icons">add</i> Add
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="list">
                <div class="card-header">
                  <h4 class="card-title ">Peoples</h4>
                  <p class="card-category">All registered peoples</p>
                </div>
                <div class="card-body">
                  <app-data-table
                    [tableData]="users"
                    [columnsToDisplay]="peopleHeaders"
                    [columnKeys] = "peopleHeadersKeys"
                    (onAction)="onActionHandler($event)"

                  ></app-data-table>

                </div>
                <div class="card-footer">
                  <mat-paginator [length]="length"
                                 [pageSize]="pageSize"
                                 [pageSizeOptions]="pageSizeOptions"
                                 (page)=" pageEvent = $event">

                  </mat-paginator>
                </div>
              </div>
              <div class="tab-pane" id="addUserForm">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Add User </h4>
                    <p class="card-category">

                    </p>
                  </div>
                  <div class="card-body">
                    <form (ngSubmit)="onSubmit()" [formGroup]="addForm" action="/" class="form-horizontal"
                          method="post">
                      <div class="row">
                        <label class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                          <div class="form-group">
                            <input class="form-control" formControlName="lastName" id="lastName" type="text">
                            <span class="bmd-help">Last Name</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                          <div class="form-group">
                            <input class="form-control" formControlName="firstName" id="firstName" type="text">
                            <span class="bmd-help">First Name</span>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <div class="form-group">
                            <input class="form-control" formControlName="email" id="email" type="text">
                            <span class="bmd-help">email</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                          <div class="form-group">
                            <input class="form-control" formControlName="password" id="password" type="password">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                          <div class="form-group">
                            <input class="form-control" formControlName="location" id="location" type="text">
                            <span class="bmd-help">location</span>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <label class="col-sm-2 col-form-label label-checkbox">Enabled</label>
                        <div class="col-sm-10 checkbox-radios">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input [defaultChecked]="true" class="form-check-input" formControlName="enabled" id="enabled"
                                     type="checkbox">
                              <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                            </label>
                          </div>


                        </div>
                        <button class="btn btn-fill btn-primary ml-auto mr-auto" type="submit">Submit
                          <div class="ripple-container"></div>
                        </button>

                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">

          </div>

      </div>
    </div>
  </div>
</div>
